{% extends "base.html" %}

{% block title %}
    {{ anime.english_title }} |
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='anime_details.css') }}">
{% endblock %}
{% block content %}
    <section class="anime-banner" >
        <div class="banner-bg" style="background-image: url('{{ anime.large_cover_image }}');"></div>
        <div class="banner-overlay"></div>
        
        <div class="banner-content">
            <div class="poster">
                <img src="{{ anime.cover_image }}" alt="{{ anime.english_title }}">
            </div>
            <div class="info">
                <div class="meta-tags">
                    <span class="year">{{ anime.year }}</span>
                    <span class="score">★ {{ anime.score / 10 }}</span>
                    <span class="ep-count">{{ anime.no_of_episodes if anime.no_of_episodes else '0' }} Episodes</span>
                </div>
                <h1>{{ anime.english_title }}</h1>
                <h3 class="alt-titles">{{ anime.japanese_title }} | {{ anime.native_title }}</h3>
                
                <div class="genre-list">
                    {% if genres %}
                        {% for genre in genres %}
                            <span class="genre-pill">{{ genre.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="actions">
                    <button class="play-btn">▶ Watch Now</button>
                    <button class="list-btn">+ Add to List</button>
                </div>
            </div>
        </div>
    </section>

    <main class="details-container">
        <div class="left-col">
            <section class="synopsis">
                <h2>Synopsis</h2>
                <p>{{ anime.description | safe }}</p>
            </section>
        </div>

        <div class="right-col">
            <section class="episodes-section">
                <div class="section-header">
                    <h2>Episodes</h2>
                    <span class="ep-total">Total: {{ anime.no_of_episodes }}</span>
                </div>
            <form method="POST"> 
                <div class="episodes-list">
                    {% if urls %}
                        {% for url, ep in zip(urls, eps) %}
                        <a href="{{ url.file_path1 }}">Download Episode {{ ep }}</a>
                        {% endfor %}

                    {% elif episodes %}
                        {% for i, ep in enumerate(episodes, start=1) %}
                        <label class="ep-card" for="ep-{{ i }}">
                            
                            <div class="ep-select">
                                <input name="ep-{{ i }}" type="checkbox" class="ep-checkbox" id="ep-{{ i }}">
                            </div>

                            <div class="ep-info">
                                <span class="ep-num">Episode {{ i }}</span>
                                <span class="ep-title">{{ ep.title }}</span>
                            </div>
                        </label>
                        {% endfor %}
                    {% else %}
                        <p> No episodes available yet </p>
                    {% endif %}
                </div>

                <button type="submit" class="download-btn">Download Selected</button></section>
            </form>
        </div>
    </main>

{% endblock %}
