<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}AnimeDojo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    {% block link %}{% endblock %}
</head>
{% if anime %}
<body style="--accent-color: {{ anime.color if anime.color else "#202020" }};">
{% else %}
<body style="--accent-color: #3049ae;">
{% endif %}

    <header class="navbar">
        <div class="logo">AnimeDojo</div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Movies</a>
            <a href="#">Series</a>
        </nav>
        <div class="search-container">
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" class="search-bar" name="q" placeholder="Search anime...">
            </form>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
