{% extends "base.html" %}

{% block content %}
    <section class="hero-container">
        {% for slide in slides[:4] %}
        <div class="hero-slide" style="background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('{{ slide.large_cover_image }}')">
            <div class="hero-content">
                <h1>{{ slide.english_title if slide.english_title else slide.japanese_title }}</h1>
                <div class="meta">
                    <span class="badge">HD</span>
                    <span class="year">{{ slide.year }}</span>
                </div>
                <a href="{{ url_for('anime_detail', anime_id=slide['id']) }}" class="btn-primary">Watch Now</a>
            </div>
        </div>
        {% endfor %}
    </section>

    <main>
        <section class="category", id="category">
            <div class="category-header">
                <h2>Trending Now</h2>
                <div class="tabs">
                    <span id="series" class="active" onclick="switchSeriesMovies(this)">Series</span>
                    <span id="movies" onclick="switchSeriesMovies(this)">Movies</span>
                </div>
            </div>
            <div id="series_grid" class="grid" >
                {% for result in results[:20] %}
                <a href="{{ url_for('anime_detail', anime_id=result['id']) }}">
                    <div class="card">
                        <img loading="lazy" src="{{ result['cover_image'] }}" alt="Poster">
                        <div class="card-info">
                            <h3>{{ result['english_title'][:20] + "..." if len(result['english_title']) > 20 else result['english_title'] }}</h3>
                            <p>{{ result['year'] }} • HD</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div id="movies_grid" class="grid" style="display: none;" >
                {% for result in results[5:10] %}
                <a href="{{ url_for('anime_detail', anime_id=result['id']) }}">
                    <div class="card">
                        <img loading="lazy" src="{{ result['cover_image'] }}" alt="Poster">
                        <div class="card-info">
                            <h3>{{ result['english_title'] }}</h3>
                            <p>{{ result['year'] }} • HD</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>

        <section class="category">
            <h2>Recently Updated</h2>
            <div class="grid">
            </div>
        </section>
    </main>

<script>
    function switchSeriesMovies(e){
        c = document.getElementById("category");
        s = document.getElementById("series_grid");
        m = document.getElementById("movies_grid");
        if (e.textContent == "Series") {
            s.style.display = "grid";
            m.style.display = "none";
            e.className = "active";
            movies = document.getElementById("movies").className = "";
        }
        else {
            m.style.display = "grid";
            s.style.display = "none";
            e.className = "active";
            series = document.getElementById("series").className = "";
        }
    }
</script>
{% endblock %}
