<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmquest | Streaming UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script src="{{ url_for('static', filename='htmx/htmx.min.js') }}"></script>
</head>
<body style="--accent-color: {{ anime.color }}; --bg-path: {{ anime['cover_image'] }};">

    <header class="navbar">
        <div class="logo">Filmquest</div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Movies</a>
            <a href="#">Series</a>
        </nav>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search anime...">
        </div>
    </header>

    <section class="hero-container">
        {% for slide in slides[:4] %}
        <div class="hero-slide" style="background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('{{ slide.large_cover_image }}')">
            <div class="hero-content">
                <h1>{{ slide.english_title if slide.english_title else slide.japanese_title }}</h1>
                <div class="meta">
                    <span class="badge">HD</span>
                    <span class="year">{{ slide.year }}</span>
                </div>
                <a href="{{ url_for('anime_detail', anime_id=slide['id']) }}" class="btn-primary">Watch Now</a>
            </div>
        </div>
        {% endfor %}
    </section>

    <main>
        <section class="category">
            <div class="category-header">
                <h2>Trending Now</h2>
                <div class="tabs">
                    <span class="active">Movies</span>
                    <span>Series</span>
                </div>
            </div>
            <div class="grid" >
                {% for result in results[:20] %}
                <a href="{{ url_for('anime_detail', anime_id=result['id']) }}">
                    <div class="card">
                        <img loading="lazy" src="{{ result['cover_image'] }}" alt="Poster">
                        <div class="card-info">
                            <h3>{{ result['english_title'] }}</h3>
                            <p>{{ result['year'] }} • HD</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>

        <section class="category">
            <h2>Recently Updated</h2>
            <div class="grid">
            </div>
        </section>
    </main>

</body>
</html>
